/////header/////
.header{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home.svg"),url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home.svg");
    background-repeat: no-repeat;
    background-position:right 10% center ,right top;
    background-size: auto 69%, auto 100%;
    @include pad{
        background-position:right 10% top 40% ,right top;
        background-size: auto 60%, contain;
    }
    @include mobile{
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home_sm.svg");
        background-position: center bottom 5.5%, center bottom 4.6%;
        background-size:81.2% auto, 89% auto ;
    }
}
.header .banner{
    height: calc(100vh - 88px);
    &-text{
        margin-top: -88px;
        h2{
            font: $font-d-18;
            color: $brand-green;
            margin-bottom: 8px;
        }
        p{
            font: $font-d-48;
            margin-bottom: 16px;
        }
        h3{
            font: $font-t-20;
        }
    } 
    @include mobile{
        height: auto;
        &-text{
            margin-top: 32px;
            h2{
                font: $font-d-16;
            }
            p{
                font: $font-d-32;
            }
            h3{
                font: $font-t-16;
            }
        }
    }
}
.ball-01{
    width: 138px;
    height: 360px;
    top: calc(100vh - 180px);
    left: 0px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg");
    background-repeat: no-repeat;
    background-position: right;
    @include pad{
        top: calc(100vh - 105px);
        width: 90px;
        height: 210px;
        background-size: cover;
    }
    @include mobile{
        width: 49px;
        height: 123px;
        top: calc(100vh + 60px + 16px);
    }
}
/////sns/////
.sns{
    padding:0 75.5px; //59.5+16
    &-list{
        justify-content: space-between;
        align-items: flex-start;
    }
    &-type-title{
        font: $font-d-24;
        margin-bottom: 24px;
    }
    &-type-bodytext{
        font: $font-t-16;
        color: $t-gray-sec;
    }
    &-img{
        width: 90px;
        height: 90px;
        margin-bottom: 24px;
    }
    @include pad{
        padding: 0 20px;
        &-type-title{
            font: $font-d-18;
            margin-bottom: 16px;
        }
        &-img{
            width: 75px;
            height: 75px;
            margin-bottom: 16px;
        }
    }
    @include mobile{
        &-list{
            flex-wrap: wrap;
            gap: 24px;
        }
        &-type{
            width: 100%;
        }
        &-img{
            width: 60px;
            height: 60px;
        }
    }
}
/////situation/////
.situation{
    .section-title{
        margin-bottom: 16px;
    }
    .description{
        font: $font-t-20;
    }
    &-list{
        gap: 16px;
        align-items: stretch;
    }
    &-type{
        width: 260px;
        padding-bottom: 24px;
    }
    &-img{
        border-radius: 12px 12px 0 0;
        margin-bottom: 16px;
    }
    &-type-title{
        font: $font-d-16;
        color: $brand-green;
        margin-bottom: 16px;
    }
    &-type-bodytext{
        font: $font-t-16;
    }
    @include pad{
        &-list{
            flex-wrap: wrap;
            justify-content: center;
            gap: 32px;
        }
        &-type{
            width: 35%;
        }
    }
    @include mobile{
        .description{
            font: $font-t-18;
        }
        &-list{
            gap: 24px;
        }
        &-type{
            width: 260px;
        }
    }
}
.ball-02{
    width: 210px;
    height: 310px;
    right: 0;
    top: 411px;
    z-index: -1;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball02.svg");
    background-size: cover;
    @include mobile{
        width: 88px;
        height: 135px;
        top: initial;
        bottom: -33px;
    }
}
/////feature/////
.feature{
    padding-right: calc(16px + 49px);
    justify-content: space-between;
    &-list{
        width: 48.8%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 47px 28px;
    }
    &-list-item{
        width: 230px;
        padding: 32px 32px 48px;
    }
    &-img{
        width: 86px;
        height: 86px;
        border-radius: 50px;
        justify-content: center;
        margin-bottom: 24px;
    }
    &-title{
        font: $font-d-18;
        margin-bottom: 16px;
    }
    &-description{
        font: $font-t-16;
    }
    .section-text{
        width: 38.1%;
    }
    .section-text-title{
        margin-bottom: 16px;
    }
    .section-text-description{
        font: $font-t-18;
        margin-bottom: 24px;
    }
    .btn{
        font: $font-t-18;
    }
    @include pad{
        padding-right: 20px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        &-list{
            width: 100%;
            flex-wrap: wrap;
            align-items: stretch;
            gap: 24px 32px;
        }
        &-list-item{
            width: 35%;
            padding: 32px 32px 48px;
        }
        .section-text{
            width: 100%;
            text-align: center;
            margin-bottom: 32px;
        }
    }
    @include mobile{
        &-list{
            gap: 24px;
        }
        &-list-item{
            width: 230px;
            padding: 32px 24px 48px;
        }
        &-title{
            margin-bottom: 20px;
        }
        .section-text-description{
            font: $font-t-16;
            margin-bottom: 16px;
        }
    
    }
}
/////comment/////
.comment{
    h2{
        margin-bottom: calc(48px + 56px);
    }
    &-list{
        gap: 16px;
        margin-bottom: 24px;
    }
    &-card{
        width: 32.4%;
        padding: 48px 32px 24px;
    }
    .user-img{
        width: 80px;
        height: 80px;
        top: -56px;
        left: 32px;
    }
    .user-comment{
        font: $font-t-16;
        letter-spacing: -1%;
        padding-bottom: 24px;
        border-bottom: $component-gray 1px solid;
    }
    .user-title{
        font: $font-d-16;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    .user-evaluate{
        justify-content: space-between;
    }
    .user-name{
        font: $font-t-16;
    }
    .value{
        width: 121px;
        height: 16px;
        gap: 8px;
        &-img{
            width: 17px;
            height: 16px;
        }
    }
    @include pad{
        &-list{
            justify-content: center;
        }
        &-list>:last-child{
            display: none;
        }
        &-card{
            width: 40%;
        }
    }
    @include mobile{
        h2{
            margin-bottom: calc(32px + 56px);
        }
        &-list>:nth-child(2){
            display: none;
        }
        &-card{
            width: 335px;
            padding: 48px 16px 16px;
        }
        .user-comment{
            letter-spacing: normal;
            padding-bottom: 16px;
        }
        .user-title{
            margin-top: 16px;
        }
    }
}
.pagination{
    justify-content: center;
    gap: 8px;
    &-item{
        width: 10px;
        height: 10px;
        background-color: $component-gray;
    }
    .activate{
        width: 16px;
        background-color: $brand-yellow;
    }
}
.ball-03{
    width: 150px;
    height: 150px;
    top: 42px;
    left: -73px; //-89+16
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg");
    background-size: cover;
    z-index: -1;
    @include pad{
        left: 0;
    }
    @include mobile{
        width: 77px;
        height: 153px;
        top: 40px;
        background-position: right;
    }
}
/////footer-CTA/////
.footer-CTA{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home_footer.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    .footer-context{
        padding-top: 260px;
        padding-bottom: 100px;
        &-title{
            font: $font-d-32;
            margin-bottom: 48px;
        }
        .btn{
            font: $font-t-18;
        }
    }
    @include pad{
        .footer-context{
            padding-top: 293px;
            padding-bottom: 60px;
        }
    }
    @include mobile{
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/footer_sm.svg");
        background-size: contain;
        .footer-context-title{
            margin-bottom: 24px;
            font: $font-d-24;
        }
    }
}
